<h1>{{title}}</h1>
<p>Chart the <a href="http://www.europeanpollendatabase.net/">European Pollen Database</a></p>

<div class="row">
  <div class="col-50" id="map" style="height:400px"></div>
  <div class="col-50">
    <div id="site-help">
      <h2>Site Selection</h2>
      <p>Click on the marker of a site on the map, or choose a site on the select box bellow.</p>
    </div>
    <div id="site-informations" style="display:none">
      <h2 id="site-title">Site Name (SIGLE)</h2>
      <dl>
        <dt>Date:</dt>
        <dd id="site-sampdate"></dd>
        <dt>Elevation:</dt>
        <dd><span id="site-elevation">0</span> meters</dd>
        <dt>Description:</dt>
        <dd id="site-description"></dd>
        <dt>Physiography:</dt>
        <dd id="site-physiography"></dd>
        <dt>Vegetation:</dt>
        <dd id="site-vegetation"></dd>
        <dt>Location:</dt>
        <dd id="site-entloc"></dd>
        <dt>Notes:</dt>
        <dd id="site-notes"></dd>
      </dl>
    </div>
  </div>
</div>

<div id="options" class="row">
  <div class="col-60">
    <label for="select-site">Site:</label>
    <select id="select-site" size=5></select>
  </div>
  <div class="col-20">
    <label for="select-types">Type:</label>
    <select id="select-types" size=5 multiple>
      <option selected>TRSH</option>
      <option>HERB</option>
    </select>
  </div>
  <div class="col-20">
    <label for="select-limit">Limit:</label>
    <select id="select-limit" size=5></select>
  </div>
</div>

<div id="plot-wrapper" style="width:100%;height:400px;display:none">
  <canvas id="plot"></canvas>
</div>

