<section id="landing-header">
  <h1>Pollen Chart</h1>
  <h2>Explore the history of our environment</h2>
</section>

<section class="landing">
  <div class="container">
    <div>
      <p>
        The study of pollens found in sediments at the bottom of lakes,
        deposited slowly one layer on top of the others over millenia, is a
        tremendous source of informations about prehistorical changes of
        vegetation and climate.
      </p>

      <p>
        Since 2007, thousand of scientists have been sharing data from hundred
        of thousands of samples in the
        <a href="http://www.europeanpollendatabase.net/">European Pollen Database</a>,
        free of charge, for the scientific community.
      </p>

      <p>
        This website is dedicated to help exploring this invaluable trove of
        our past, for a better understanding of our environment and our future.
      </p>

      <p class="center cta"><a href="/sites">Explore the database</a></p>
    </div>
  </div>
</section>

<section class="landing grey">
  <div class="container">
    <div class="row">
      <div class="col-50 middle">
        <h2>Thousands of sites in Europe</h2>
        <p>
          As of March 2017, there are <a href="/sites/stats">2409 sites</a> in the database.
        </p>
        <p>
          Most sites cover a good part of the Holocene, up to the last
          glaciation, and some even go hundreds of years in the past.
        </p>
      </div>
      <div class="col-50">
        <div class="media right">
          <img src="/images/screenshot_map_zoomed_out.png" alt="screenshot of map zoomed out" />
        </div>
      </div>
    </div>

    <div class="row reverse">
      <div class="col-50 middle">
        <h2>Mapped with great accuracy</h2>
        <p>
          Every site of the database is published along with its precise
          geographical location and a description of the surrounding.
        </p>
        <p>
          Pollen Chart displays the sites on an interactive map allowing easy
          access to the data.
        </p>
      </div>
      <div class="col-50">
        <div class="media left">
          <img src="/images/screenshot_map_zoomed_in.png" alt="screenshot of map zoomed in" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="landing">
  <div class="container">
    <div>
      <h2 class="center">Interactive pollen count charts</h2>
      <p>
        Once a site is selected, a full screen chart of pollen count is
        generated. The chart is interactive and provides the tools to extract
        and compare precisely the data.
      </p>
      <div class="media center">
        <img src="/images/screenshot_chart.png" alt="screenshot of chart" />
      </div>

      <p>
        Pollen Chart is open source and use modern web frameworks to be as fast
        and easily extensible as possible. Read more about the technical stack
        on <a href="https://github.com/vinc/pollen.vinc.cc">GitHub</a>.
      </p>

      <p class="center cta"><a href="/sites">Explore the database</a></p>
    </div>
  </div>
</section>

<section class="landing grey" id="landing-footer">
  <div class="container">
    <p class="center">
      Made with &hearts; in 2017 by <a href="https://vinc.cc">Vinc</a>
    </p>
    <p class="center">
      Code released under the <a href="https://github.com/vinc/pollen.vinc.cc/LICENSE">MIT License</a>
    </p>
  </div>
</section>
