<meta http-equiv="refresh" content="0; url=/sites">

<!--
<section>
  <h1>{{title}}</h1>
  <h2>Chart the <a href="http://www.europeanpollendatabase.net/">European Pollen Database</a></h2>
</section>

<section>
  <p>Load <a href="/sites">app</a></p>
</section>
-->
