<h1>{{title}}</h1>
<p>Chart the <a href="http://www.europeanpollendatabase.net/">European Pollen Database</a></p>

<div class="row">
  <div class="col-50" id="map" style="height:400px"></div>
  <div class="col-50">
    <h2 id="site-title">Site Name (SIGLE)</h2>
    <p>Elevation: <span id="site-elevation">0</span> meters</p>
  </div>
</div>

<div id="options" class="row">
  <div class="col-60">
    <label for="select-site">Site:</label>
    <select id="select-site" size=5></select>
  </div>
  <div class="col-20">
    <label for="select-types">Type:</label>
    <select id="select-types" size=5 multiple>
      <option selected>TRSH</option>
      <option>HERB</option>
    </select>
  </div>
  <div class="col-20">
    <label for="select-limit">Limit:</label>
    <select id="select-limit" size=5></select>
  </div>
</div>

<div style="width:100%;height:400px">
  <canvas id="plot"></canvas>
</div>

