<h1>{{title}}</h1>

<div style="display:flex">
  <div id="map" style="width:50%;height:400px;background:#f6f6f6"></div>
  <div style="width:50%;padding-left: 1em">
    <h2 id="site-title">Site Name (Sigle)</h2>
    <p>Elevation: <span id="site-elevation">0</span> meters</p>
  </div>
</div>

<br>

<label>Site:
  <select id="select-site" size=5></select>
</label>
<label>Type:
  <select id="select-types" size=5 multiple>
    <option selected>TRSH</option>
    <option>HERB</option>
  </select>
</label>
<label>Limit:
  <select id="select-limit" size=5></select>
</label>

<br>
<br>

<div style="width:100%;height:400px;background:#f6f6f6">
  <canvas id="plot"></canvas>
</div>

<link rel="stylesheet" href="/components/leaflet/dist/leaflet.css" />
<link rel="stylesheet" href="/components/leaflet.markercluster/dist/MarkerCluster.css" />
<link rel="stylesheet" href="/components/leaflet.markercluster/dist/MarkerCluster.Default.css" />
<script src="/components/leaflet/dist/leaflet.js"></script>
<script src="/components/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
<script src="/components/jquery/dist/jquery.min.js"></script>
<script src="/components/chart.js/dist/Chart.min.js"></script>
<script src="/javascripts/plot.js"></script>
