<section id="top">
  <h1>{{title}}</h1>
  <!--<p>Chart the <a href="http://www.europeanpollendatabase.net/">European Pollen Database</a></p>-->
</section>

<section id="sites" class="row">
  <div class="col-50" id="map"></div>
  <div class="col-50" id="info">
    <div v-if="site">
      <site-info v-bind:site="site"></site-info>
    </div>
    <div v-else>
      {{#if site}}
        {{> sites/info}}
      {{else}}
        {{> sites/help}}
      {{/if}}
    </div>
  </div>
</section>

<section id="options" class="row" v-cloak>
  <div class="col-60">
    <label for="select-site">Site:</label>
    <select id="select-site" v-model="selectSite" size=5>
      <option v-for="site in sites" v-bind:value="site.sigle">
        \{{site.sitename}} (\{{site.sigle}})
      </option>
    </select>
  </div>
  <div class="col-20">
    <label for="select-types">Group:</label>
    <select id="select-types" v-model="selectTypes" size=5 multiple>
      <option value="HERB">Herbs</option>
      <option value="TRSH">Trees and shrubs</option>
      <option value="VACR">Vascular cryptogams</option>
      <!--
      <option value="INUN">Indeterminables</option>
      <option value="AQUA">Aquatics</option>
      <option value="FUNG">Fungus</option>
      <option value="CHLO">Chlorophyta</option>
      <option value="MACR">Macrofossils</option>
      -->
    </select>
  </div>
  <div class="col-20">
    <label for="select-limit">Limit:</label>
    <select id="select-limit" v-model="selectLimit" size=5>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
  </div>
</section>

<section class="chart" v-if="site">
  <div id="nvd3-container"></div>
</section>
