#map {
  .leaflet-div-icon {
    border-radius: 50%;
    background: hsl(0, 100%, 80%);
    border: solid 2px hsl(0, 100%, 70%);
    width: 10px !important;
    height: 10px !important;
    margin: 0 !important;
  }
}
