<h2>Site Selection</h2>

<p>
  Click on the marker of a site on the map, or choose a site on the
  select box bellow.
</p>

<p>
  An interactive pollen chart for this site will be generated and
  displayed at the bottom of the screen.
</p>
